/* _content/TabellaMVC/Views/Shared/_Layout.cshtml.rz.scp.css */
a[b-n44lbrpg6l] {
  color: #0077cc;
}

.footer[b-n44lbrpg6l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
